@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,300&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  min-width: 550px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
a {
  font-family: "Work Sans", sans-serif;
}

p,
li {
  font-family: "Work Sans", sans-serif;
  font-style: italic;
  font-size: 1.15rem;
}

i {
  color: black;
}

nav {
  background-color: rgba(0, 0, 0, 0.937) !important;
}

/* class elements */

.footer {
  background-color: rgb(35, 69, 85);
}

.hero {
  background-image: url("../img/MpiHeader.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
  top: 0;
  z-index: -1;
}

.hero-contact {
  background-image: url("../img/contact-us.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}

.hero-aboutus {
  background-color: rgb(35, 69, 85);
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
}

.container-1 {
  background-color: rgb(35, 69, 85);
}

.resize {
  width: 100px;
  height: auto;
  padding-top: 10px;
}

.resize-img {
  border-radius: 4px;
  width: 100vw;
  padding-bottom: 8rem;
}
.dark-text {
  color: #000;
}

/* carousel */

.carousel {
  padding: 0px 5px;
}

.carousel-item {
  margin-top: 0.2rem;
  height: 700px;
  object-fit: fill;
}

/* form */
.content {
  padding: 4rem 0;
}

.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

form.border-right {
  padding-right: 6rem !important;
}
@media (max-width: 991.98px) {
  form.border-right {
    padding-right: 0 !important;
    border-right: none !important;
  }
}
/* animate scroll */

.fade-left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}

.fade-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 2s;
}

.title-intro {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1.2s;
}

.title-intro2 {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1.5s;
}

.fade-away {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
